<div class="inner" align="center">
    <h1 align="center">Your Itinerary</h1>
    <br>
        <table class="tablecell" style="width:50%">
            <tr class="tablecell">
                <td class="tablecell" rowspan="2"><img src="placeholderimg.jpeg"></td>
                <td class="tablecell" colspan="2"><h1 style="text-align: left"> Event</h1><h1 style="text-align: right">Start Time:<br> End Time:</p></td>
            </tr>

            <tr class="tablecell">
                <td class="tablecell" colspan="2" bgcolor="#ccc">Additional Info</td>
            </tr>
        </table>
        <table class="tablecell" style="width:50%">
            <tr class="tablecell">
                <td class="tablecell" rowspan="2"><img src="placeholderimg.jpeg">
                </td>
                <td class="tablecell" colspan="2"><h1> Event</h1></td>
            </tr>

            <tr class="tablecell">
                <td class="tablecell" colspan="2" bgcolor="#ccc">Additional Info</td>
            </tr>
        </table>

</div>
